mixin cta(data)
    .cta
        if data.img
            .cta__img
                img(src=data.img)
        h3.cta__title=data.title
        if data.link
            a._button.-white.-large(href=data.link.url)= data.link.text
    
